.list-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-menu__item {
  cursor: pointer;
}

.list-menu__item:hover {}

.list-menu__item:active {}

.list-menu__item--disabled {
  cursor: default;
  display: none;
}
