@keyframes rotation {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(359deg);
  }
}

.preloader {
  background-color: rgba(0, 0, 0, 0.7);
}

.preloader-content {
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.preloader-icon {
  transform-origin: center;
  animation: rotation 1000ms linear infinite;
  margin-bottom: 1rem;
  width: 4rem;
  height: 4rem;
}

.preloader-message {

}
