.modal-menu {
  background-color: rgba(0, 0, 0, 0.85);
}

.modal-menu__form {
  width: 400px;
  min-height: 400px;
  background-color: rgba(108, 123, 139, 1);
  color: black;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
}

.modal-menu__list {

}

.modal-menu__list > .modal-menu__list-item {
  padding: 1rem;
  background-color: rgba(225, 225, 225, 1);
  color: rgba(108, 123, 139, 1);
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.25rem;
  transition: background-color 200ms, color 200ms, box-shadow 200ms;
  margin-top: 1rem;
}

.modal-menu__list > .modal-menu__list-item:hover {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.modal-menu__list > .modal-menu__list-item:active {
  color: rgba(0, 0, 0, 1);
  box-shadow: none;
}

.modal-menu__list > .modal-menu__list-item:first-of-type,
.modal-menu__list > .modal-menu__text-item:first-of-type {
  margin-top: 0;
}

.modal-menu__list > .modal-menu__text-item {
  padding: 1rem;
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 4px;
  font-weight: normal;
  line-height: 140%;
  margin-top: 1rem;
  cursor: default;
}

.modal-menu__list > .modal-menu__text-item a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  transition: text-decoration 200ms, color 200ms;
}

.modal-menu__list > .modal-menu__text-item a:hover {
  color: gold;
}

.modal-menu__list > .modal-menu__text-item:hover b {
  color: gold;
  transition: color 200ms;
}
