html, body, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 100%;
}

body {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
}

#app-root {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  z-index: 1;
}

#modal-root {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
}
.list-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-menu__item {
  cursor: pointer;
}

.list-menu__item:hover {}

.list-menu__item:active {}

.list-menu__item--disabled {
  cursor: default;
  display: none;
}
.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 9000;
  transition: opacity 300ms;
}

.modal--centered {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.modal--visible {
  visibility: visible;
  opacity: 1;
  width: 100vw;
  height: 100vh;
}

.modal--is-hiding {
  opacity: 0;
}
.modal-menu {
  background-color: rgba(0, 0, 0, 0.85);
}

.modal-menu__form {
  width: 400px;
  min-height: 400px;
  background-color: rgba(108, 123, 139, 1);
  color: black;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
}

.modal-menu__list {

}

.modal-menu__list > .modal-menu__list-item {
  padding: 1rem;
  background-color: rgba(225, 225, 225, 1);
  color: rgba(108, 123, 139, 1);
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.25rem;
  transition: background-color 200ms, color 200ms, box-shadow 200ms;
  margin-top: 1rem;
}

.modal-menu__list > .modal-menu__list-item:hover {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.modal-menu__list > .modal-menu__list-item:active {
  color: rgba(0, 0, 0, 1);
  box-shadow: none;
}

.modal-menu__list > .modal-menu__list-item:first-of-type,
.modal-menu__list > .modal-menu__text-item:first-of-type {
  margin-top: 0;
}

.modal-menu__list > .modal-menu__text-item {
  padding: 1rem;
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 4px;
  font-weight: normal;
  line-height: 140%;
  margin-top: 1rem;
  cursor: default;
}

.modal-menu__list > .modal-menu__text-item a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  transition: text-decoration 200ms, color 200ms;
}

.modal-menu__list > .modal-menu__text-item a:hover {
  color: gold;
}

.modal-menu__list > .modal-menu__text-item:hover b {
  color: gold;
  transition: color 200ms;
}
.modal-form {
  background-color: rgba(0, 0, 0, 0.85);
}

.modal-form__form {
  width: 400px;
  min-height: 400px;
  background-color: rgba(108, 123, 139, 1);
  color: black;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.modal-form__content {
  width: 100%;
  height: calc(100% - 4rem);
}

.modal-form__toolbar {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.modal-form__control {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.modal-form__control > label {
  width: 100%;
  margin-bottom: 0.5rem;
}

.modal-form__control > input {
  width: 100%;
  padding: 0.5rem;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.modal-form__control > input:focus {
  border-color: rgba(135, 206, 255, 1);
}

.form-toolbar-button {
  cursor: pointer;
  user-select: none;
  padding: 0.5rem 1rem;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(255, 255, 255, 0);
}

.form-toolbar-button:hover {
  background-color: rgba(159, 182, 205, 1);
  box-shadow: 0 0 5px rgba(159, 182, 205, 1);
  color: rgba(255, 255, 255, 1);
}

.form-toolbar-button:active {
  box-shadow: none;
}

.form-toolbar-text-button {
  font-size: 0.85rem;
  cursor: pointer;
  user-select: none;
}

.form-toolbar-text-button:hover {
  color: rgba(255, 255, 255, 0.8);
}

.form-toolbar-text-button:active {
  color: rgba(255, 255, 255, 1);
}

.control-error-message {
  padding-top: 0.25rem;
  color: rgba(255, 215, 0, 1);
  font-size: 0.85rem;
}
.modal-menu-gallery {
  /*max-height: 90%;*/
  /*overflow: auto;*/
}

.gallery-form {
  max-height: 90%;
}

.gallery-list {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.gallery-item {
  margin-bottom: 1rem;
}

.gallery-item:last-of-type {
  margin-bottom: 0;
}

.gallery-item__field {
  width: 100%;
}
@keyframes rotation {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(359deg);
  }
}

.preloader {
  background-color: rgba(0, 0, 0, 0.7);
}

.preloader-content {
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.preloader-icon {
  transform-origin: center;
  animation: rotation 1000ms linear infinite;
  margin-bottom: 1rem;
  width: 4rem;
  height: 4rem;
}

.preloader-message {

}
.page {
  width: 100%;
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.field {
  width: 100%;
  height: 100%;
  background-color: rgba(105, 105, 105, 1);
  position: relative;
}
.page-fifteen {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.main-toolbar {
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.main-toolbar-section {
  display: inline-block;
  color: inherit;
}

.main-toolbar-section.main-menu {
  order: 1;
  margin-right: calc(50% - 4rem);
  margin-bottom: 0.5rem;
}

.main-toolbar-section.account-menu {
  order: 2;
  margin-left: calc(50% - 4rem);
  margin-bottom: 0.5rem;
}

.main-toolbar-section.best-result {
  order: 3;
}

.main-toolbar-section.count {
  order: 4;
}

.mobile-toolbar {
  width: 100%;
  height: 2rem;
  margin: 0 0 1rem;
  display: none;
  color: rgba(255, 255, 255, 0.5);
}

.mobile-toolbar--visible {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.mobile-toolbar-section.undo-redo {
  width: 10rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.toolbar-button {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: inherit;
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 300ms, color 300ms, box-shadow 300ms;
  width: 4rem;
}

.mobile-toolbar-button {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.toolbar-button:hover {
  background-color: rgba(108, 123, 139, 1);
  box-shadow: 0 0 5px rgba(108, 123, 139, 1);
  color: rgba(255, 255, 255, 1);
}

.toolbar-button:active {
  background-color: rgba(159, 182, 205, 1);
  box-shadow: none;
}

.main-menu-icon,
.account-icon {
  width: 100%;
  height: 100%;
  color: inherit;
  fill: transparent;
  transition: fill 300ms;
}

.toolbar-button:hover .account-icon {
  fill: currentColor;
}

.toolbar-info-item {
  padding: 0.5rem;
}

.toolbar-info-item--disabled {
  display: none;
}

.main-content {
  width: 100%;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: rgba(108, 123, 139, 1);
  position: relative;
}

@media screen and (min-width: 376px) {
  .main-toolbar {
    font-size: 1.5rem;
    /*margin-bottom: 1rem;*/
    padding: 1rem;
  }

  .toolbar-info-item {
    padding: 1rem;
  }

  .main-toolbar-section.main-menu {
    margin-bottom: 1rem;
  }

  .main-toolbar-section.account-menu {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 541px) {
  .main-toolbar {
    font-size: 1.5rem;
    flex-wrap: nowrap;
  }

  .main-toolbar-section.main-menu {
    order: 1;
    margin-right: 0;
    margin-bottom: 0;
  }

  .main-toolbar-section.account-menu {
    order: 4;
    margin-left: 0;
    margin-bottom: 0;
  }

  .main-toolbar-section.best-result {
    order: 2;
    width: auto;
  }

  .main-toolbar-section.count {
    order: 3;
    width: auto;
  }
}
