html, body, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 100%;
}

body {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
}

#app-root {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  z-index: 1;
}

#modal-root {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
}
