.modal-menu-gallery {
  /*max-height: 90%;*/
  /*overflow: auto;*/
}

.gallery-form {
  max-height: 90%;
}

.gallery-list {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.gallery-item {
  margin-bottom: 1rem;
}

.gallery-item:last-of-type {
  margin-bottom: 0;
}

.gallery-item__field {
  width: 100%;
}
