.modal-form {
  background-color: rgba(0, 0, 0, 0.85);
}

.modal-form__form {
  width: 400px;
  min-height: 400px;
  background-color: rgba(108, 123, 139, 1);
  color: black;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.modal-form__content {
  width: 100%;
  height: calc(100% - 4rem);
}

.modal-form__toolbar {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.modal-form__control {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.modal-form__control > label {
  width: 100%;
  margin-bottom: 0.5rem;
}

.modal-form__control > input {
  width: 100%;
  padding: 0.5rem;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.modal-form__control > input:focus {
  border-color: rgba(135, 206, 255, 1);
}

.form-toolbar-button {
  cursor: pointer;
  user-select: none;
  padding: 0.5rem 1rem;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(255, 255, 255, 0);
}

.form-toolbar-button:hover {
  background-color: rgba(159, 182, 205, 1);
  box-shadow: 0 0 5px rgba(159, 182, 205, 1);
  color: rgba(255, 255, 255, 1);
}

.form-toolbar-button:active {
  box-shadow: none;
}

.form-toolbar-text-button {
  font-size: 0.85rem;
  cursor: pointer;
  user-select: none;
}

.form-toolbar-text-button:hover {
  color: rgba(255, 255, 255, 0.8);
}

.form-toolbar-text-button:active {
  color: rgba(255, 255, 255, 1);
}

.control-error-message {
  padding-top: 0.25rem;
  color: rgba(255, 215, 0, 1);
  font-size: 0.85rem;
}
