.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 9000;
  transition: opacity 300ms;
}

.modal--centered {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.modal--visible {
  visibility: visible;
  opacity: 1;
  width: 100vw;
  height: 100vh;
}

.modal--is-hiding {
  opacity: 0;
}
