.page-fifteen {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.main-toolbar {
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.main-toolbar-section {
  display: inline-block;
  color: inherit;
}

.main-toolbar-section.main-menu {
  order: 1;
  margin-right: calc(50% - 4rem);
  margin-bottom: 0.5rem;
}

.main-toolbar-section.account-menu {
  order: 2;
  margin-left: calc(50% - 4rem);
  margin-bottom: 0.5rem;
}

.main-toolbar-section.best-result {
  order: 3;
}

.main-toolbar-section.count {
  order: 4;
}

.mobile-toolbar {
  width: 100%;
  height: 2rem;
  margin: 0 0 1rem;
  display: none;
  color: rgba(255, 255, 255, 0.5);
}

.mobile-toolbar--visible {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.mobile-toolbar-section.undo-redo {
  width: 10rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.toolbar-button {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: inherit;
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 300ms, color 300ms, box-shadow 300ms;
  width: 4rem;
}

.mobile-toolbar-button {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.toolbar-button:hover {
  background-color: rgba(108, 123, 139, 1);
  box-shadow: 0 0 5px rgba(108, 123, 139, 1);
  color: rgba(255, 255, 255, 1);
}

.toolbar-button:active {
  background-color: rgba(159, 182, 205, 1);
  box-shadow: none;
}

.main-menu-icon,
.account-icon {
  width: 100%;
  height: 100%;
  color: inherit;
  fill: transparent;
  transition: fill 300ms;
}

.toolbar-button:hover .account-icon {
  fill: currentColor;
}

.toolbar-info-item {
  padding: 0.5rem;
}

.toolbar-info-item--disabled {
  display: none;
}

.main-content {
  width: 100%;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: rgba(108, 123, 139, 1);
  position: relative;
}

@media screen and (min-width: 376px) {
  .main-toolbar {
    font-size: 1.5rem;
    /*margin-bottom: 1rem;*/
    padding: 1rem;
  }

  .toolbar-info-item {
    padding: 1rem;
  }

  .main-toolbar-section.main-menu {
    margin-bottom: 1rem;
  }

  .main-toolbar-section.account-menu {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 541px) {
  .main-toolbar {
    font-size: 1.5rem;
    flex-wrap: nowrap;
  }

  .main-toolbar-section.main-menu {
    order: 1;
    margin-right: 0;
    margin-bottom: 0;
  }

  .main-toolbar-section.account-menu {
    order: 4;
    margin-left: 0;
    margin-bottom: 0;
  }

  .main-toolbar-section.best-result {
    order: 2;
    width: auto;
  }

  .main-toolbar-section.count {
    order: 3;
    width: auto;
  }
}
